<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.storymakers.apps.trailguide"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.storymakers.apps.trailguide.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />


    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:name="com.storymakers.apps.trailguide.TrailGuideApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Trailguide" >
        <activity
            android:name="com.storymakers.apps.trailguide.activities.HomeActivity"
            android:label="@string/title_activity_home" >
           <intent-filter>
			<action android:name="android.intent.action.MAIN" />
			<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
        </activity>
        <activity
            android:name=".activities.HikeDetailsActivity"
            android:label="@string/title_activity_hike_details" >
        </activity>
        <activity
            android:name=".activities.HikeCreateActivity"
            android:parentActivityName="com.storymakers.apps.trailguide.activities.HomeActivity"
            android:label="@string/title_activity_hike_create" >
        </activity>
        <activity
            android:name="com.parse.ui.ParseLoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_ENABLED"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_EMAIL_AS_USERNAME"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.FACEBOOK_LOGIN_ENABLED"
                android:value="false" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.TWITTER_LOGIN_ENABLED"
                android:value="true" />
        </activity>
        <activity
            android:name="com.storymakers.apps.trailguide.activities.CreateStoryDispatchActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.storymakers.apps.trailguide.activities.ProfileDispatchActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.storymakers.apps.trailguide.activities.ProfileActivity"
            
            android:label="@string/title_activity_profile" >
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDcz0HpO-cQxzXDaT_XxC6IE_j-iAA6s1I" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
